.cg {
  position: absolute;
  inset: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.5s ease;
  z-index: 1;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}
